page-padding-horizontal-l = 32px
page-padding-vertical-l = 20px

page-padding-horizontal-s = 8px
page-padding-vertical-s = 8px

font-size-small = 0.75rem
font-size-normal = 1rem
font-size-large = 1.5rem
font-size-xlarge = 3rem

mixin-page-padding()
	@media screen and (max-width: 480px)
		padding page-padding-vertical-s page-padding-horizontal-s
	@media screen and (min-width: 480.1px)
		padding page-padding-vertical-l page-padding-horizontal-l

mixin-clearfix()
	&:after
		content '.'
		display block
		clear both
		height 0
		font-size 0
		visibility hidden

mixin-flexbox()
	display flex
	flex-wrap wrap
	align-items baseline

if_width_larger_than($width)
	if false
		if $fix-mqs >= $width
			{block}
	else
		media = 'all and (min-width: %s)' % $width
		@media media
			{block}

if_width_smaller_than($width)
	if false
		if $fix-mqs < $width
			{block}
	else
		media = 'all and (max-width: %s)' % ($width - 0.01px)
		@media media
			{block}

if_width-between($widthA, $widthB)
	if false
		if ($fix-mqs >= $widthA) and ($fix-mqs < $widthB)
			{block}
	else
		media = 'all and (min-width: %s) and (max-width: %s)' % ($widthA ($widthB - 0.01px))
		@media media
			{block}


body
	font-family 'Martel', sans-serif

/* site_header */
#site_header
	mixin-page-padding()
	+if_width_larger_than(768px)
		#site_title_wrapper
			float left
		#site_navigation
			float right
		mixin-clearfix()
	p
		margin 0
		padding 0
	#site_title_wrapper
		+if_width_smaller_than(480px)
			#site_title
				font-weight bold
			#site_subtitle, #site_description
				display none
		+if_width_larger_than(480px)
			mixin-flexbox()
			p
				flex-shrink 0
			#site_title
				font-size font-size-large
			#site_subtitle
				margin 0 1em
				font-size font-size-small
			#site_description
				font-size font-size-small
	#site_navigation
		ul
			mixin-flexbox()
			list-style none
			li
				margin 0
				padding 0
				a
					display block
					border-color #f0f0f0
					border-style solid
			+if_width_smaller_than(768px)
				border-style solid
				border-width 1px 0
				border-color #f0f0f0
				margin 16px (- page-padding-horizontal-l) 0 (- page-padding-horizontal-l)
				padding 0 page-padding-horizontal-l
				li a
					margin 0 1em 0 0
					border-width 0 1px
					padding 0.5em
				+if_width_smaller_than(480px)
					margin 0 (- page-padding-horizontal-s)
					padding 0 page-padding-horizontal-s
					li a
						padding 0 0.5em
			+if_width_larger_than(768px)
				margin (- page-padding-vertical-l) 0 0 0
				padding 0
				li a
					margin 0 0 0 1em
					padding page-padding-horizontal-l 0.5em 0.5em 0.5em
					border-width 0 1px 1px 1px


.article_header
	/*background linear-gradient(to bottom, #bf9d3e, #fbb829 7%, #f2e5bd 15%, #f2e5bd 38%, #fbb829 62%, #bf9d3e)*/
	background #bf9d3e
	mixin-page-padding()
	h1
		padding 0
		margin 0
		font-weight 200
		font-size font-size-xlarge
		+if_width_smaller_than(480px)
			font-size font-size-large

.article_breadcrumb
	padding 0
	margin 0
	display flex
	flex-wrap wrap
	list-style none
	font-size font-size-small
	align-items baseline
	.article_breadcrumb_node
		margin 0 0.5em 0 0
		a
			background-color #f2e5bd
			color black
			display block
			padding 0.3em
			margin-bottom 0.3em
			border-width 0 0 2px 0
			border-style solid
			border-color black
			text-decoration none
			font-weight bold
			&:after
				content '/'
				text-decoration none
				margin 0 0.3em 0 0.6em
				display inline
				font-weight normal
				color gray
	.article_breadcrumb_leaf
		background-color #f2e5bd
		color gray
		padding 0.3em
		margin-bottom 0.3em
		border-width 0 0 2px 0
		border-style solid
		border-color gray

